---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    level0.fukurokuju.dev/name: grafana
  name: grafana
  namespace: level0-plg
spec:
  selector:
    matchLabels:
      level0.fukurokuju.dev/name: grafana
  template:
    metadata:
      labels:
        level0.fukurokuju.dev/name: grafana
    spec:
      securityContext:
        fsGroup: 472
        supplementalGroups:
          - 0
      volumes:
        - name: data
          hostPath:
            path: "{{ gf_volume_host }}"
      containers:
        - name: grafana
          image: "grafana/grafana:{{ gf_version | mandatory }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http-grafana
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /robots.txt
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 3000
            timeoutSeconds: 1
          resources:
            requests:
              cpu: 250m
              memory: 750Mi
          volumeMounts:
            - mountPath: /var/lib/grafana
              name: data
          env:
            - name: GF_AUTH_GENERIC_OAUTH_ENABLED
              value: "{{ gf_auth_generic_oauth_enabled | mandatory }}"
            - name: GF_AUTH_GENERIC_OAUTH_NAME
              value: "{{ gf_auth_generic_oauth_name | mandatory }}"
            - name: GF_AUTH_GENERIC_OAUTH_CLIENT_ID
              value: "{{ gf_auth_generic_oauth_client_id | mandatory }}"
            - name: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
              value: "{{ gf_auth_generic_oauth_client_secret | mandatory }}"
            - name: GF_AUTH_GENERIC_OAUTH_SCOPES
              value: "{{ gf_auth_generic_oauth_scopes | mandatory }}"
            - name: GF_AUTH_GENERIC_OAUTH_AUTH_URL
              value: "{{ gf_auth_generic_oauth_auth_url | mandatory }}"
            - name: GF_AUTH_GENERIC_OAUTH_TOKEN_URL
              value: "{{ gf_auth_generic_oauth_token_url | mandatory }}"
            - name: GF_AUTH_GENERIC_OAUTH_API_URL
              value: "{{ gf_auth_generic_oauth_api_url | mandatory }}"
            - name: GF_AUTH_SIGNOUT_REDIRECT_URL
              value: "{{ gf_auth_signout_redirect_url | mandatory }}"
            - name: GF_AUTH_OAUTH_AUTO_LOGIN
              value: "{{ gf_auth_oauth_auto_login | mandatory }}"
            - name: GF_SERVER_ROOT_URL
              value: "https://{{ gf_host | mandatory }}"
            - name: GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH
              value: "{{ gf_auth_generic_oauth_role_attribute_path | mandatory }}"
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: level0-plg
spec:
  ports:
    - port: 3000
      protocol: TCP
      targetPort: http-grafana
  selector:
    level0.fukurokuju.dev/name: grafana
  sessionAffinity: None
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana
  namespace: level0-plg
spec:
  rules:
    - host: "{{ gf_host | mandatory }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: grafana
                port:
                  number: 3000
