---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  labels:
    level0.fukurokuju.dev/name: loki
  namespace: level0-plg
spec:
  selector:
    matchLabels:
      level0.fukurokuju.dev/name: loki
  template:
    metadata:
      labels:
        level0.fukurokuju.dev/name: loki
    spec:
      volumes:
        - name: loki-data
          hostPath:
            path: "{{ loki_volume_host }}"
      containers:
        - name: loki
          image: "grafana/loki:{{ loki_version | mandatory }}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: loki-3100
              containerPort: 3100
              protocol: TCP
            - name: loki-9069
              containerPort: 9096
              protocol: TCP
          command:
            - "/usr/bin/loki"
          args:
            - "-config.file=/etc/loki/loki-config.yaml"
          volumeMounts:
            - mountPath: "/etc/loki"
              name: loki-data
          livenessProbe:
            httpGet:
              path: /ready
              port: 3100
            initialDelaySeconds: 45
            failureThreshold: 5
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ready
              port: 3100
            initialDelaySeconds: 45
            failureThreshold: 5
            periodSeconds: 30
      terminationGracePeriodSeconds: 4800
---
apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: level0-plg
spec:
  selector:
    level0.fukurokuju.dev/name: loki
  ports:
    - port: 3100
      protocol: TCP
      targetPort: 3100
  type: LoadBalancer
