---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: promtail
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
      - nodes/proxy
      - services
      - endpoints
      - pods
    verbs:
      - get
      - watch
      - list
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: promtail
  namespace: level0-plg
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: promtail
  namespace: level0-plg
subjects:
  - kind: ServiceAccount
    name: promtail
    namespace: level0-plg
roleRef:
  kind: ClusterRole
  name: promtail
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail
  namespace: level0-plg
  labels:
    level0.fukurokuju.dev/name: promtail-logging
spec:
  selector:
    matchLabels:
      level0.fukurokuju.dev/name: promtail
  template:
    metadata:
      labels:
        level0.fukurokuju.dev/name: promtail
    spec:
      serviceAccountName: promtail
      terminationGracePeriodSeconds: 30
      tolerations:
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
      volumes:
        - name: promtail-data
          hostPath:
            path: "{{ promtail_volume_host }}"
        - name: logs-pods
          hostPath:
            path: "/var/log/pods"
        - name: logs-journal
          hostPath:
            path: "/var/log/journal"
        - name: positions
          hostPath:
            path: "/run/promtail"
      initContainers:
        - name: wait-for-loki
          image: "curlimages/curl:{{ curl_version }}"
          command: [ "/bin/sh","-c" ]
          args: [ "while [ $(curl -sw '%{http_code}' http://loki:3100/ready -o /dev/null) -ne 200 ]; do sleep 3; echo 'Waiting for Loki to start...'; done" ]
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 50m
              memory: 100Mi
            requests:
              cpu: 50m
              memory: 100Mi
      containers:
        - name: promtail
          image: "grafana/promtail:{{ loki_version | mandatory }}"
          resources:
            limits:
              memory: 200Mi
            requests:
              cpu: 100m
              memory: 200Mi
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: "/etc/promtail"
              name: promtail-data
            - mountPath: "/run/promtail"
              name: positions
            - mountPath: "/var/log/pods"
              name: logs-pods
            - mountPath: "/var/log/journal"
              name: logs-journal
              readOnly: true
          command:
            - "/usr/bin/promtail"
          args:
            - "-config.file=/etc/promtail/promtail-config.yaml"
          ports:
            - name: promtail
              containerPort: 9080
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
          livenessProbe:
            httpGet:
              path: /ready
              port: promtail
            initialDelaySeconds: 20
            failureThreshold: 5
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ready
              port: promtail
            initialDelaySeconds: 10
            failureThreshold: 5
            periodSeconds: 30
          env:
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
---
apiVersion: v1
kind: Service
metadata:
  name: promtail
  namespace: level0-plg
  labels:
    level0.fukurokuju.dev/name: promtail-logging
spec:
  ports:
    - name: promtail
      port: 9080
      targetPort: promtail
      protocol: TCP
  selector:
    level0.fukurokuju.dev/name: promtail
  sessionAffinity: None
  type: LoadBalancer
